/*styles to be applied to the whole website*/
body {
    background-color: #DCCDD1;
    margin: 0;
    padding: 0;
    /*position: relative;
    height: auto;*/
}
h1, h2, h3 {
    font-family: "Fondamento", cursive;
}
h4, h5, h6, p {
    font-family: "Solway", serif;
}

/*Styles for the header*/
header {
    background-color: white;
    width: 100%;
    height: 200px; 
}

.topside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: -140px;
    
}

.topside h1 {
    font-size: 50px;
    border-bottom: 1.5px solid black;
}

.topside img {
    margin-top: 50px;
    width: 140px;
    height: 100px;
    
}

.mobilemenu {
    gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
    z-index: 2;
    margin-top: -20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav h3 {
    font-weight: normal;
    margin: 0; 
    padding: 0; 
}

.information {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information div {
    width: 900px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.43);
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 1;
    border-radius: 60px;
    padding: 0 30px 0 30px;
}

.information img {
    margin-left: 380px;
    width: 120px;
    height: 120px;
    
}

.information h5 {
    text-align: center;
    font-size: 30px;
}

.information h6 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    font-size: 14px;
    transition: transform 0.3s ease;
}
 
.information h6:hover {
    transform: scale(1.25);
    background-color:#dccdd17a;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;  
    margin-top: 40px;
}
