/*This what will be displayed once menu clicked*/
.hamburger {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    gap: 5px;
    z-index: 10;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background: #40242B;
    border-radius: 5px;
}

/*media query for homepage*/

@media (max-width: 780px) {
    
    header {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center !important;
    }
    
    .hamburger {
        display: flex;
        margin-right: 20px;
    } 
    
    .mobilemenu {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 90%;
        background: white;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .mobilemenu.active {
        display: flex !important;
    }

    .topside h1 {
        display: none;
    }
    
    .topside img {
        margin-left: 200px;
        margin-bottom: 40px;
        width: 80px;
        height: 80px;
    }

    .profile {
        width: 170px;
        height: 170px;
    }
    
    .containertwo, .containerthree, .containerfour {
        flex-direction: column !important;
    }

    .containerone p {
        padding: 0 15px !important;
    }
    
    .containerone {
        margin-top: 40px;
        display: block !important;
    }
    
    .introduction {
        background-image: none !important;
        width: 375px;
    }
    
    .introduction h4 {
        font-size: 18px;
        margin-bottom: -10px;
    }

    .wrap {
        float: right !important;
        margin: 10px;
    }

    h2 {
        font-size: 25px !important;
        transform: rotate(0deg) !important;
    }

    .wheel {
        display: none;
    }

    .carousel-container {
        flex-direction: column; /* Stack carousels vertically*/
        margin-top: 20px !important;
        margin-bottom: 80px;
        max-width: 350px !important;
    }

    .containerthree {
        gap: 15px;
        text-align: center;
        border-radius: 0%;
    }
    
    .containerthree img {
        max-width: 100%; /* Make image full width */
    }

    .three h2 {
        margin-top: -100px;
        margin-bottom: 100px;
    }
    
    .description {
        text-align: center;
        margin: 0 25px !important;
        max-width: 350px !important;
        height: auto;
    }
    
    .containerfour :first-child ~ div {
        width: 410px;
    }
    
    .containerfour p {
        font-size: 12px;
    }

    .tea {
        margin-top: -100px;
    }

    .tea2 {
        margin-top: -40px;
    }

    .tea2 p {
        padding-left: 20px;
        padding-right: 20px;
    }
    footer {
        margin-top: 100px;
    }
}

/* media query for about me page*/

@media (max-width: 780px) {

    #aboutpage .information div {
        width: 360px;
        height: auto;
    }

    #aboutpage .information img {
        margin-left: 120px;
    }

    #tbr .carousel-containertbr {
        flex-direction: column;
    }

    #tbr .carouseltbr {
        width: 370px;
    }

    #tbr .carouseltbr img {
        margin-left: 90px;
    }

}